.comment {
  background-color: #f2fbff;
  padding: 15px 20px;
  position: relative;
  margin: 20px 0 15px;
  border: 1px solid #cfcfcf;
}
.comment:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 23px;
	top: -12px;
	border: 15px solid;
  border-color: transparent transparent #cfcfcf #cfcfcf;
  z-index: -1;
}
.comment:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 24px;
	top: -10px;
	border: 5px solid;
	border-color: transparent transparent #f2fbff #f2fbff;
}

.date {
  color: #808080;
  margin-left: 10px;
}