body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding-top: 16px;
}
img {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.d-flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 450px;
  padding: 0 20px;
}
.padding_left {
  padding-left: 45px;
}
.font_l {
  font-size: 16px;
  font-weight: bold;
}
.font_s {
  font-size: 13px;
}
.font_es {
  font-size: 11px;
}

@media (max-width: 479px) {
  .padding_left {
    padding-left: 15px;
  }
  .container {
    padding: 0 10px;
  }
}